*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* ======================================================================================================================================================================================================== */
 header {
    background-color: #012D63;
    
    
    font-size: 24px;
    display: flex;
 }
 .header_nav {
  display: flex;
  
 }
 .nav_link, .language_link {
  font-family: 'Roboto';
  font-weight: 300;
   color: #C7C7C7;
 }
 .nav_link:hover {
  color: #fff;
  font-weight: 400;
 }
 .language_link:hover {
  color: #fff;
  font-weight: 400;
 }
 .header_language {
  display: flex;
 }
 /* =================================================================================================================================================================== */
.title {
  font-family: 'Playfair Display', serif;
  font-size: 144px;
  font-weight: 400;
}
.subtitle {
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  font-weight: 400;
}
.description {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.image_section {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 400;
}
.reviews {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.section_title {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
}
.review {
  font-size: 24px;
}
.date {
  font-size: 14px;
}
.customer_name {
  font-size: 14px;
}
.time_with_us {
  font-size: 12px;
}
/* ============================================================================================================================ */
footer {
  background-color: #021635;
  color: #fff;
}
.email {
  color: #fff;
}
.footer_list {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
}
/* 
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif; */