*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

body {
  color: #fff;
}

/* ======================================================================================================================================================================================================== */
.header {
  background-color: #012d63;
  font-size: 24px;
}

.header_wrap {
  display: flex;
  align-items: center;
}

.header_nav {
  display: flex;
  margin-left: 152px;
  gap: 29px;
}

.nav_link,
.language_link {
  font-family: "Roboto";
  font-weight: 300;
  color: #c7c7c7;
}

.Ukrainian {
  margin-left: 70px;
}

.English {
  margin-left: 10px;
}

.nav_link:hover {
  color: #fff;
  /* font-weight: 400; */
}

.language_link:hover {
  color: #fff;
  /* font-weight: 400; */
}

.header_language {
  display: flex;
}

/* .header_language_item {
  display: flex;
} */

/* =================================================================================================================================================================== */
.mainbg {
  /* width: 1440px; */
  height: 855px;
  background-image: url(img/mainbg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nikelogo {
  margin-top: 91px;
  margin-left: -10px;
}

.logo {
  font-family: "PT Serif", serif;
  font-size: 48px;
  font-weight: 400;
  color: #fff;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 144px;
  font-weight: 400;
}

.subtitle {
  font-family: "Playfair Display", serif;
  font-size: 72px;
  font-weight: 400;
}

.description {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 508px;
  margin-top: 20px;
}

.button {
  margin-top: 41px;
  width: 254px;
  height: 67px;
  background-color: #8e32c6;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.1);
}
.image_list {
  display: flex;
  justify-content: center;
  height: 396px;
  /* margin-top: 105px; */
  border: 5px solid #8e32c6;
  /* margin-bottom: 105px; */
}
.image_list_item {
  height: 342px;
  margin-top: 25px;
}
.image_list_item:nth-child(2) {
  margin-left: 95px;
  margin-right: 95px;
}

.image_list_item:nth-child(1) {
  border-right: 2px solid #fff;
  padding-left: 50px;
  padding-right: 50px;
}
.image_list_item:nth-child(3) {
  border-left: 2px solid #fff;
  padding-left: 50px;
  padding-right: 50px;
}

.image_section {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 400;
  background-image: url(img/imgsectionbg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 606px;
  padding-top: 105px;
}
.image_description {
  margin-left: 50px;
  width: 150px;
  text-align: center;
}
.Reviews_section {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 520px;
  background-image: url(img/flowers.png), url(img/reviewsectionbg.jpg) ;
  background-size: 340px 380px,100% 100%;
  background-repeat: no-repeat;
  background-position: left bottom, center;
}

.section_title {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 24px;
}

.review {
  font-size: 24px;
  width: 228px;
  height: 112px;
  margin: 49px 15px 0 15px;
}
.review_uk {
  font-size: 24px;
  height: 112px;
  width: 310px;
  margin: 49px 15px 0 15px;
}
.review_list {
  display: flex;
  justify-content: center;
}
.customer_info {
  display: flex;
}

.slider-container {
  position: relative;
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  padding: 20px;
}

.slider-nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.prev-slide,
.next-slide {
  border-radius: 5px;
  margin: 0 10px;
  padding: 5px 10px;
  background-color: #8e32c6;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Скрытие скроллбара для слайдера */
.slider-container::-webkit-scrollbar {
  display: none;
}
.slide {
  border-radius: 15px;
}
.slide:nth-child(1) {
  background: linear-gradient(
    137deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
  /* box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978; */
}

.slide:nth-child(2) {
  background: linear-gradient(
    137deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
  /* box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c; */
}
.slide:nth-child(3) {
  background: linear-gradient(
    143deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
  /* box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26 ; */
}
.date {
  font-size: 14px;
  margin-bottom: 47px;
  margin-left: 15px;
}

.customer_name {
  font-size: 14px;
  margin-left: 5px;
}

.customer_photo {
  margin-left: 15px;
  width: 31px;
  height: 31px;
}
.time_with_us {
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 30px;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 509px;
  background-image: url(img/ordersectionbg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-weight: 400px;
  font-family: Roboto;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  margin-bottom: 10px;
}
.email_form {
  width: 690px;
  height: 60px;
  color: #959595;
  font-size: 28px;
}
.country_form,
.city_form,
.address_form {
  width: 580px;
  height: 50px;
  color: #959595;
  font-size: 24px;
}
input {
  border-radius: 50px;
}
/* ============================================================================================================================ */
footer {
  background-color: #021635;
  color: #fff;
}

.email {
  color: #fff;
  text-decoration: underline;
}

.footer_list {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  padding-top: 45px;
  border-bottom: 1px solid #9b9b9b;
  /* display: flex;
  justify-content: space-between;
    flex-wrap: wrap; */
}

.footer_list_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer_list_item:last-child {
  margin-bottom: 20px;
}

.logo_footer {
  font-size: 24px;
  color: #fff;
  margin-left: 20px;
}
.rights {
  margin-top: 24px;
}
.footer_div {
  display: flex;
  justify-content: space-between;
}
.footer_logo_div {
  display: flex;
  flex-direction: column;
}
/* 
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif; */
